# SQL Query Reference
### Select statements

select SUM(percentage) from lanaguge;
select distinct(continent) from world;

select a a/b for a in world;

select * 

show tables
explain users

min, max, avg, sum

group_concat

In [ ]:
select * from users;
select email from users where user_name = 'jack';
select email from users where user_name = 'jack' or user_name = 'tom';
select * from users where name in ('jack', 'tom');
select * from users where email like '%.edu%';
select * from users order by user_name DESC;
select * from users limit 1;

### Aggregation and grouping

In [ ]:
select count(*) from states where join_year = 1787;
select count(*), join_year from states group by join_year;

select min(population), max(population), avg(population) from states;
select sum(population) as usa_population from states;

# GROUP_CONCAT(): concatenates all values inside the group into a single string, with a given separator
SELECT GROUP_CONCAT(name SEPARATOR ', '), join_year
FROM states GROUP BY join_year;

### Subqueries and Having: apply conditions to returned results (e.g. results of aggregate functions)

In [ ]:
select count(*), join_year from states
group by join_year
having count(*) > 1;

SELECT * FROM states WHERE population = (
    SELECT MAX(population) FROM states
);

SELECT * FROM states WHERE join_year IN (
    SELECT join_year FROM states
    GROUP BY join_year
    HAVING COUNT(*) > 1
) ORDER BY join_year;

### Union: combine results of multiple select queries
- Can combine queries on different tables

In [ ]:
(SELECT * FROM states WHERE name LIKE 'n%')
UNION
(SELECT * FROM states WHERE population > 10000000);

# fetch all emails of all employees and managers, but only the emails of customers that have subscribed to receive emails
(SELECT email FROM employees)
UNION
(SELECT email FROM managers)
UNION
(SELECT email FROM customers WHERE subscribed = 1);

### Natural Join
- tables need to have a matching column name
- both the tables have the customer_id column
- MySQL will join the records only when the value of this column is matching on two records

In [ ]:
select * from customers natural join orders;

### Inner Join, ON, USING
- When a join condition is specified, an Inner Join is performed
- ON clauses let you put join conditions in a separate clause
- USING clause is similar to the ON clause, but it's shorter
- If a column is the same name on both tables, we can specify it here.
- this is much like the NATURAL JOIN, so the join column (customer_id) is not repeated twice in the results

In [ ]:
select * from customers join orders where customers.customer_id = orders.customer_id;
select * from customers join orders on (customers.customers_id = orders.customer_id) where orders.amount > 15;
select * from customers join orders using (customer_id) where orders.amount > 15;

### Left (Outer) Join
- A LEFT JOIN is a type of Outer Join.
- OUTER keyword is optional, can use LEFT JOIN by itself
- If there is no match found from the second table, the record from the first table is still displayed
- Missing columns will have NULL
- Useful for finding records that do not have relationships e.g. can search for customers who have not placed any orders

### Right (Outer) Join
- A RIGHT OUTER JOIN works exactly the same, but the order of the tables are reversed

In [ ]:
select * from customers LEFT OUTER JOIN orders USING (customer_id)
select * from customers LEFT OUTER JOIN orders using (customer_id) where orders.order_id IS NULL;
select * from customers LEFT OUTER JOIN orders using (customer_id) where orders.amount > 15 OR orders.order_id IS NULL;

# the ON clause sometimes has slightly different functionality than the WHERE clause
# In an Outer Join like this one, rows are included even if they do not match the ON clause conditions
select * from customers LEFT OUTER JOIN orders ON (customers.customer_id = orders.customer_id) and orders.amount > 15;